*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');

*,
*::after,
*::before{
    box-sizing: border-box;
}

h1 {
    font-family: 'Arima Madurai', cursive;
    color: black;
    font-size: 3rem;
    letter-spacing: -3px;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
    position: absolute;
    top: 130px;
    z-index: 100;
}

.container {
    z-index: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
// min-height: 100vh;
    min-height: 35rem;
    background-image: linear-gradient(to bottom,  rgba(255,168,76,0.6) 0%,rgba(255,123,13,0.6) 100%), url('https://images.unsplash.com/photo-1446824505046-e43605ffb17f');
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center center;
    padding: 2rem;
}

.bird {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    will-change: background-position;

    animation-name: fly-cycle;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
}

.bird-one{
    animation-duration: 1s;
    animation-delay: -.5s;
}

.bird-two{
    animation-duration: .9s;
    animation-delay: -.75s;
}

.bird-three{
    animation-duration: 1.25s;
    animation-delay: -.25s;
}

.bird-four{
    animation-duration: 1.1s;
    animation-delay: -.5s;
}

.bird-container{
    position: absolute;
    top: 20%;
    left: -10%;
    transform: scale(0) translateX(-10vw);
    will-change: transform;
    animation-name: fly-right-one;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.bird-container-one{
    animation-duration: 15s;
    animation-delay: 0s;
}

.bird-container-two{
    animation-duration: 16s;
    animation-delay: 1s;
}

.bird-container-three{
    animation-duration: 14.6s;
    animation-delay: 9.5s;
}

.bird-container-four{
    animation-duration: 16s;
    animation-delay: 10.25s;
}


@keyframes fly-cycle {

    100% {
        background-position: -900px 0;
    }

}

@keyframes fly-right-one {

    0% {
        transform: scale(0.3) translateX(-10vw);
    }

    10% {
        transform: translateY(2vh) translateX(10vw) scale(0.4);
    }

    20% {
        transform: translateY(0vh) translateX(30vw) scale(0.5);
    }

    30% {
        transform: translateY(4vh) translateX(50vw) scale(0.6);
    }

    40% {
        transform: translateY(2vh) translateX(70vw) scale(0.6);
    }

    50% {
        transform: translateY(0vh) translateX(90vw) scale(0.6);
    }

    60% {
        transform: translateY(0vh) translateX(110vw) scale(0.6);
    }

    100% {
        transform: translateY(0vh) translateX(110vw) scale(0.6);
    }

}

@keyframes fly-right-two {

    0% {
        transform: translateY(-2vh) translateX(-10vw) scale(0.5);
    }

    10% {
        transform: translateY(0vh) translateX(10vw) scale(0.4);
    }

    20% {
        transform: translateY(-4vh) translateX(30vw) scale(0.6);
    }

    30% {
        transform: translateY(1vh) translateX(50vw) scale(0.45);
    }

    40% {
        transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
    }

    50% {
        transform: translateY(0vh) translateX(90vw) scale(0.45);
    }

    51% {
        transform: translateY(0vh) translateX(110vw) scale(0.45);
    }

    100% {
        transform: translateY(0vh) translateX(110vw) scale(0.45);
    }

}

.profiel {
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: 180px;
    width: 300px;
    height: 300px;
    z-index: 100;
    border: 5px solid #d1cea9;
    object-fit: cover;
}

body {
    background-color: beige;
}

.container-intro{
    z-index: 100;
    position: absolute;
    top: 350px;
    right: 780px;
}

.container-table {
    position: absolute;
    z-index: 100;
    top: 600px;
    left: 500px;
    padding: 100px;
    background: rgb(154,217,104);
    background: linear-gradient(90deg, rgba(154,217,104,1) 0%, rgba(123,162,2,1) 30%, rgba(116,172,190,1) 67%);
    margin: 0;
    padding: 0;
    font-size: 20px;

}

.container-hobbies {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 100px;
}

.hobbies{
    font-size: 40px;
}

.container-links{

}

.container-all {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    background-image: linear-gradient(to bottom,  rgba(255,168,76,0.6) 0%,rgba(255,123,13,0.6) 100%), url('https://images.unsplash.com/photo-1446824505046-e43605ffb17f');
}

.hobbies-info {
    position: absolute;
    z-index: 100;
    top: 300px;
    right: 400px;
    width: 100px;
    height: 100px;
    scale: inherit;
}

h4, H5, H6 {
   display: flex;
    justify-content: center;
    font-size: 30px;
}

.sec5 {
    display: flex;
    justify-content: space-between;
    margin: -100px 50px;
    margin-bottom: 100px;
}

.artbat{
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 100;
    top: 800px;
    left: 400px;

}

.redemption{
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 100;
    top: 800px;
    left: 650px;

}

.stargate{
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 100;
    top: 800px;
    left: 900px;

}

.savage{
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 100;
    top: 800px;
    left: 1150px;

}

.national{
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 100;
    top: 800px;
    left: 1400px;

}
.onderstepagina{
    background-image: linear-gradient(to bottom,  rgba(255,168,76,0.6) 0%,rgba(255,123,13,0.6) 100%), url('https://images.unsplash.com/photo-1446824505046-e43605ffb17f');
    padding: 20px;
}

.button {
    background-color: lightgreen;
    border-radius: 45px;
    border-color: white;
    color: black;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    width: 200px;
    animation: wiggle 2s linear infinite;

}

.button:hover {
    background-image: linear-gradient(to bottom,  rgba(255,168,76,0.6) 0%,rgba(255,123,13,0.6) 100%), url('https://images.unsplash.com/photo-1446824505046-e43605ffb17f');
}

@keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%, 100% {
        transform: rotateZ(0);
    }
}

